################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Test1027/.vs/Test1027/v15/Server/sqlite3/db.lock
/Test1027/.vs/Test1027/v15
